body { 
  font-family: Helvetica, 'Liberation Sans', Arial, sans-serif;
  font-size: 14px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: whitesmoke;
  border-right: 1px solid gainsboro;
  z-index: 9999;
}

#highlight {
  width: 220px;
}

#cy {
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: ivory;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 6px;
}

.menu {
  background-color: white;
  border-radius: 4px;
  margin: 0 2px 2px 2px;
  padding: 4px;
  border: 1px solid gainsboro;
}
.notice {
  background-color: whitesmoke;
  border-radius: 4px;
  margin: 0 2px 2px 2px;
  padding: 4px;
  border: 1px solid gainsboro;
}
h1.titlebar {
  margin: 0px;
}

.titlebar {
  padding: 4px;
}
