body { 
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 14px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: whitesmoke;
}

#cy {
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: beige;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

.menu {
  background-color: white;
  border-radius: 4px;
}
